trigger:
  branches:
    exclude:
    - "*"

  tags:
    include:
    - v*

variables:
  imageName: 211104/amanmemilih-frontend
  tag: $(Build.SourceBranchName)

pool:
  vmImage: ubuntu-latest

stages:
- stage: CI
  jobs:
  - job: BuildAndPush
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: yazids-docker
        repository: $(imageName)
        command: buildAndPush
        Dockerfile: Dockerfile
        tags: |
          $(tag)
