trigger:
  branches:
    exclude:
    - "*"

  tags:
    include:
    - v*

variables:
- group: ARGOCD_VARIABLES
- name: imageName
  value: 211104/amanmemilih-frontend
- name: tag
  value: $(Build.SourceBranchName)
- name: argocdAppName
  value: amanmemilih-frontend


pool:
  vmImage: ubuntu-latest

stages:
- stage: BuildAndPush
  displayName: Build and Push Docker Image
  jobs:
  - job: BuildAndPush
    steps:
    - task: Docker@2
      displayName: Build and Push Docker Image
      inputs:
        containerRegistry: yazids-docker
        repository: $(imageName)
        command: buildAndPush
        Dockerfile: Dockerfile
        tags: |
          $(tag)

- stage: DeployWithArgoCD
  dependsOn: BuildAndPush
  displayName: Deploy with ArgoCD
  jobs:
  - job: DeployWithArgoCD

    steps:
    - checkout: self

    - task: vsix-argocd-task@1
      inputs:
        ArgoCDService: 'argocd-connection'
        argocdApplication: '{ Value : "amanmemilih-frontend", DisplayValue : "amanmemilih-frontend" }'
        argocdCommand: 'sync'
        DryRunFlag: true
 
